@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Share+Tech+Mono&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Share+Tech+Mono&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

:root {
	--font-body: 'Ubuntu Sans', sans-serif;
	--font-mono: 'Ubuntu Sans Mono';
	--color-theme-grey: #D7D7D7;
	--body-text: #A8A8A8;
	--color-theme-white: #FFFFFF;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

.body-text {
	color: var(--body-text);
	line-height: 1.5;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-size: 100vw 100vh;
	background-image: url(./src/lib/images/mesh-gradientblue.png);
}

h1,

h1 {
	font: var(--font-mono);
	color: var(--color-theme-white);
}
h2,
p {
	font-weight: 400;
}

p {
	font: var(--font-body);
	line-height: 1.5;
}

li {
	font: var(--font-body);
	color: var(--color-theme-grey);
}

a {
	color: var(--color-theme-grey);
	text-decoration: none;
}


h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

